# Ignore everything except the code in src/ and some config files
# Based on https://stackoverflow.com/a/70715829/458193
*
!.eslintrc.js
!babel.config.js
!index.js
!jest.integration.config.js
!jest.unit.config.js
!metro.config.js
!react-native.config.js
!app.config.ts
!src/**/*.js
!src/**/*.jsx
!src/**/*.ts
!src/**/*.tsx
!*/
.expo/**
