name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ios-build-only:
    name: Build iOS app
    uses: ./.github/workflows/build-shared-ios.yml
    with:
      STRICT: 'false'
    secrets:
      MAPBOX_DOWNLOADS_TOKEN: ${{ secrets.MAPBOX_DOWNLOADS_TOKEN }}
      APPLE_P12_BASE64: ${{ secrets.APPLE_P12_BASE64 }}
      APPLE_MOBILE_PROVISION_BASE64: ${{ secrets.APPLE_MOBILE_PROVISION_BASE64 }}
      APPLE_CERTIFICATE_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

  android-build-only:
    name: Build Android app
    uses: ./.github/workflows/build-shared-android.yml
    with:
      STRICT: 'false'
    secrets:
      MAPBOX_DOWNLOADS_TOKEN: ${{ secrets.MAPBOX_DOWNLOADS_TOKEN }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
