name: Build

on:
  workflow_dispatch:
  merge_group:
  push:
    branches:
      - main
      - dependencies
  pull_request:
    branches:
      - main
      - dependencies

jobs:
  ios-build-only:
    name: Build iOS app
    uses: ./.github/workflows/build-shared-ios.yml
    with:
      STRICT: "false"
    secrets:
      MAPBOX_DOWNLOADS_TOKEN: ${{ secrets.MAPBOX_DOWNLOADS_TOKEN }}
      APPLE_P12_BASE64: ${{ secrets.APPLE_P12_BASE64 }}
      APPLE_MOBILE_PROVISION_BASE64: ${{ secrets.APPLE_MOBILE_PROVISION_BASE64 }}
      APPLE_CERTIFICATE_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      POSTHOG_API_KEY: ${{ secrets.POSTHOG_API_KEY }}
      FEATURE_FLAG_SECRET: ${{ secrets.FEATURE_FLAG_SECRET }}

  android-build-only:
    name: Build Android app
    uses: ./.github/workflows/build-shared-android.yml
    with:
      STRICT: "false"
    secrets:
      MAPBOX_DOWNLOADS_TOKEN: ${{ secrets.MAPBOX_DOWNLOADS_TOKEN }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      POSTHOG_API_KEY: ${{ secrets.POSTHOG_API_KEY }}
      FEATURE_FLAG_SECRET: ${{ secrets.FEATURE_FLAG_SECRET }}
